
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(211, 211, 211, .4);
}
/* logo */
.header .logo-header img{
    width: 120px;
}

/* actions */
.header .actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.header .actions .book{
    /* transform: translateX(-100px); */
}

.header .actions .action-ticker,
.header .actions .action-popcorn{
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    background-size: 200% 100%; /* để gradient di chuyển */
    background-repeat: no-repeat;
    transition: color 0.6s;
    font-size: 18px;
}


/* action-ticker: gradient vàng -> tím */
.header .actions .action-ticker {
    background-image: linear-gradient(270deg, yellow, orange, #fff);
    color: black;
    animation: move-bg 4s linear infinite alternate;
    transition: color 1s, background-image 1s;
}

.header .actions .action-ticker:hover {
    background-image: linear-gradient(270deg, purple, blue, purple);
    color: #fff;
    animation: move-bg 1s linear infinite alternate;
    transition: color .6s, background-image 1s;
}

/* action-popcorn: gradient tím -> cam */
.header .actions .action-popcorn {
    background-image: linear-gradient(270deg, purple, blue, #fff);
    animation: move-bg 4s linear infinite alternate;
    transition: color 1s, background-image 1s;
}

.header .actions .action-popcorn:hover {
    background-image: linear-gradient(270deg, purple, orange, #fff);
    animation: move-bg 1s linear infinite alternate;
    transition: background-image 1s;
}

/* animation di chuyển gradient */
@keyframes move-bg {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* search */
.header .action-search {
  position: relative;
  display: inline-block;
}

.header .action-search input {
  width: 250px;
  font-size: 14px;
  padding: 8px 30px 8px 10px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
}

.header .action-search button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.header .action-search button img {
  width: 18px;
  height: 18px;
  background-color: #fff;
}

/* Ẩn nút xóa mặc định trên Chrome, Edge, Safari */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* login */
.header .action-login a{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .action-login a img{
    width: 30px;
}

.header .action-login a p{
    font-size: 16px;
}
.header .action-login a p:hover{
    color: yellow;
}

/* language */
.header .action-language{
    display: flex;
    align-items: center;
    gap: 4px;
}

.header .action-language img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.header .action-language p{
    font-size: 16px;
}

/* navbar */
.navbar{
    padding: 10px 0px;
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
}

.navbar .menu .menu-item{
    padding: 10px 0px;
}

.navbar .menu .menu-item a{
    font-size: 16px;
}

.navbar .menu .menu-left{
    display: flex;
    gap: 20px;
}
.navbar .menu .menu-left a:hover{
    color: yellow;
}

.navbar .menu .menu-left a .location-icon{
    color: white;
    font-size: 18px;
    padding: 0px 4px;
}
.navbar .menu .menu-left a:hover .location-icon{
    color: yellow;
}

.navbar .menu .menu-right{
    display: flex;
    gap: 20px;
}
.navbar .menu .menu-right a:hover{
    color: yellow;
    border-bottom: 1px solid yellow;
}

.navbar .menu .menu-left .menu-item:first-child:hover > .dropdown{
    display: flex;
}

/* làm dropdown */
.navbar .menu .menu-left {
    position: relative;
}

.navbar .menu .menu-left .menu-item{
    position: relative;
}

.navbar .menu .dropdown{
    display: none;
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    justify-content: space-around;
    gap: 80px;
    width: 1200px;
    border: 1px solid gray;
    z-index: 99;
    padding: 20px 0px;
    border-radius: 12px;
    background-color: #071e3d;
}

.navbar .menu .dropdown .dropdown-column a{
    display: block;
    padding: 10px 0px;
    font-size: 16px;
}