*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
html, body{
    /* background-color: #071e3d; */
    
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #8e2de2, #4a00e0, #00c6ff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Poppins', sans-serif;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}


/* movie detail */
.movie-detail {
  display: flex;
  gap: 30px;
  color: #fff;
  background-color: #0d0f1a;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  border-radius: 6px;
}

.movie-poster img {
  max-width: 500px;
  border-radius: 10px;
}

.movie-info h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.movie-meta {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.movie-meta li {
  margin-bottom: 8px;
}

.movie-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.trailer-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff0033;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* showtime */
.showtime-section {
  background-color: #1c1c3c;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

.section-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.showtime-dates {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.date {
  padding: 40px 20px;
  background-color: #2e2e5e;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.date.active {
  background-color: #ffd700;
  color: #000;
}

.cinema {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-selector {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

/* Khi đang chọn hoặc mở dropdown */
.location-selector:focus {
  color: #000;
  background-color: #fff;
}

/* Màu chữ trong các option */
.location-selector option {
  color: #000;
  background-color: #fff;
}

/* cinema-list */
.cinema-list {
  background-color: #1c1c3c;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.cinema-item {
  background-color: #2e2e5e;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.cinema-item.active {
  background-color: #4b3b7a;
}

.cinema-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-weight: bold;
}

.arrow {
  transition: transform 0.3s;
}

.cinema-item.active .arrow {
  transform: rotate(90deg);
}

.cinema-detail {
  display: none;
  padding: 0 15px 15px;
  font-size: 14px;
}

.cinema-detail p{
    font-size: 20px;
}

.cinema-item.active .cinema-detail {
  display: block;
}

.showtimes {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.showtimes span {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.showtimes .disabled {
  background-color: #ccc;
  color: #666;
}
